.panel{
  width: 200px;
  height: 200px;
}
#panel1{
  left: 20px;
    top: 30px;
}
#panel2{
  left: 280px;
    top: 30px;
}
#panel3{
  top: 30px;
  left: 530px;
}

.resizable{ 
  overflow: hidden;
  resize: both
}

.draggable{
  position: absolute;
  z-index: 100
}
.draggable-handler{
  cursor: pointer
}
.dragging{
  cursor: move;
  z-index: 200 !important
}
