.panel{
  width: 200px;
  height: 200px;
  border:0px;
      border-radius: 10px;
}
.panel-primary {
     border-color: transparent;
}


#panel1{
  left: 55px;
    top: 30px;
}
#panel2{
  left: 290px;
    top: 30px;
}
#panel3{
  top: 30px;
  left: 540px;
}

.resizable{ 
  overflow: hidden;
  resize: both
}

.draggable{
  position: absolute;
  z-index: 100
}
.draggable-handler{
  cursor: pointer
}
.dragging{
  cursor: move;
  z-index: 200 !important
}
