* { margin: 0; padding: 0; border: 0; outline: 0; box-sizing: border-box; }
body { padding: 50px; background-color: #222; font-family: Arial; font-size: 14px; color: #ccc; }
ul { list-style-type: none; }

#skills {
	margin: 0 auto;
	width: 40%;
}

	#skills li {
		position: relative;
		margin-bottom: 32px;
		padding-left: 6px;
	}

		.bar_container,
		.bar {	
			position: absolute;
			left: 0;
			height: 5px;	
			border-radius: 5px;
			content: "";
		}

		.bar_container {
			bottom: -8px;
			width: 100%;
			background-color: transparent;
			text-align: right;
		}			

			.bar {
				top: 0;
			}

				.pct {
					position: absolute;
					top: -19px;
					right: 0;
					opacity: 0;
					transition: opacity 0.3s linear;
				}
